

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}



.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}








.fruit-item{
    -fx-background-color: #FFFFFF;
        -fx-background-radius: 30;
}